* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #000000;
}

.mainContainer {
  display: inline-flex;
  justify-content: center;
  background-color: #ff0072;
  height: 500px;
}

.mainContainer > .darknessMenu {
  flex: 1;
  background-color: #ddd;
  padding-left: 30px;
  height: 100%;
  width: 180px;
}

.mainContainer > .LightPollution {
  flex: 2;
  background-color: #fcffa3
  height: 100px;
}

.whatContainer {
  background-color: #ef83f2;
}

.trucksImg {
}

.sqmContainer {
  background-color: #83c4f2;
  text-align: center;
}

.bortleContainer {
  background-color: #83f2da;
  text-align: center;
}

.dataCityImg {

}

.pageNavBoxes {
  background-color: #8a8a8a;
  position:relative;

}

.pageHome {
  background-color: #ff8a7a;
  position:absolute;
}

.pageAnimals {
  background-color: #ffc87a;
  position:absolute;
}

.pagePeople {
  background-color: #7aff81;
  position:absolute;
}



.
