* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #000000;
}

.mainContainer {
  display: flex;
  background-color: #ff0072;
  margin-left: 180px;
  height: 800px;
}

.darknessMenu {
  display: inline-block;
  background-color: #ddd;
  position:relative;
  height: 100%;
  width: 180px;
  padding-left: 50px;
}

.mainContainer > .LightPollution {

}

.whatContainer {
  background-color: #ef83f2;
}

.trucksImg {
}

.sqmContainer {
  background-color: #83c4f2;
  text-align: center;
}

.bortleContainer {
  background-color: #83f2da;
  text-align: center;
}

.dataCityImg {

}

.pageNavBoxes {
  background-color: #8a8a8a;
  position:relative;

}

.pageHome {
  background-color: #ff8a7a;
  position:absolute;
}

.pageAnimals {
  background-color: #ffc87a;
  position:absolute;
}

.pagePeople {
  background-color: #7aff81;
  position:absolute;
}



.
